<div class="wrapper row4">
  <footer id="footer" class="hoc clear">
    <div class="one_half first">
      <h6 class="heading">A lobortis nullam quis placerat</h6>
      <p class="btmspace-30">
        Libero consectetur fringilla augue nullam enim nisi feugiat vel finibus.
      </p>
      <ul class="nospace linklist contact">
        <li>
          <i class="fas fa-map-marker-alt"></i>
          <address>Street Name &amp; Number, Town, Postcode/Zip</address>
        </li>
        <li><i class="fas fa-phone"></i> +00 (123) 456 7890</li>
        <li><i class="fas fa-fax"></i> +00 (123) 456 7890</li>
        <li><i class="far fa-envelope"></i> info@domain.com</li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Phasellus sit amet dui</h6>
      <ul class="nospace linklist">
        <li><a href="#">phasellus condimentum nisl</a></li>
        <li><a href="#">fames ac turpis nunc egestas</a></li>
        <li><a href="#">senectus et netus malesuada</a></li>
        <li><a href="#">quam habitant morbi tristique</a></li>
        <li><a href="#">ultricies ut tortor posuere</a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Nec ultricies ut massa</h6>
      <p class="nospace btmspace-30">
        A nibh facilisis tincidunt at et dui sed odio nisl rhoncus quis finibus
        id ut sit amet.
      </p>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name" />
          <input class="btmspace-15" type="text" value="" placeholder="Email" />
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
  </footer>
</div>

<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <p class="fl_left">
      Copyright &copy; 2018 - All Rights Reserved -
      <a href="#">Domain Name</a>
    </p>
    <p class="fl_right">
      Template by
      <a
        target="_blank"
        href="https://www.os-templates.com/"
        title="Free Website Templates"
        >OS Templates</a
      >
    </p>
  </div>
</div>

<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
