<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <ul class="nospace">
      <li>
        <a href="index.html" title="Home"><i class="fas fa-home"></i></a>
      </li>
      <li>
        <a href="#" title="Send a Mail"><i class="fab fa-youtube"></i></a>
      </li>
      <li>
        <a href="#" title="Help Centre"><i class="fab fa-facebook"></i></a>
      </li>
      <li>
        <a href="#" title="Login"><i class="fab fa-instagram"></i></a>
      </li>
    </ul>
  </div>
</div>

<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <section>
      <div><i class="fas fa-phone"></i> +00 (123) 456 7890</div>
      <div>
        <h1 id="logo">
          <i class="fas fa-dove"></i> <a href="index.html">Helen-Vlogs</a>
        </h1>
      </div>
      <div>
        <form hidden class="clear" method="post" action="#">
          <fieldset>
            <legend>Search:</legend>
            <input type="search" value="" placeholder="Search Here&hellip;" />
            <button class="fas fa-search" type="submit" title="Search">
              <em>Search</em>
            </button>
          </fieldset>
        </form>
      </div>
    </section>
  </header>
</div>

<div class="wrapper row2">
  <nav id="mainav" class="hoc clear">
    <ul class="clear">
      <li class="active"><a href="index.html">Home</a></li>
      <li><a href="#">Blogs</a></li>
      <li><a href="#">Reviews</a></li>
      <li><a href="#">Lifestyle</a></li>
    </ul>
  </nav>
</div>
