<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.title}}</title>
    {% include head.html %}
  </head>
  <body id="top">
    {% include navbar.html %}

    <div
      id="pageintro"
      class="wrapper row1 bgded"
      style="background-image: url('/assets/images/cover.png')"
    >
      <figure class="hoc clear">
        <figcaption class="heading"></figcaption>
        <img src="/assets/images/profile.jpeg" alt="" />
      </figure>
    </div>

    <div class="wrapper row3">
      <main class="hoc container clear">
        <div class="sectiontitle">
          <h6 class="heading">Life event</h6>
          <p>Some life event here</p>
        </div>
        <div class="row">
          {% for post in site.posts limit:4 %} {% if post.categories contains
          "review" %}
          <div class="col">
            <article>
              <h6 class="heading">
                <i class="fas fa-certificate"></i>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </h6>
              <div class="blog_max_line_to_show">
                {{ post.content }} [&hellip;]
              </div>
              <footer>
                <a href="{{ post.url }}"
                  >View Details <i class="fas fa-angle-right"></i
                ></a>
              </footer>
            </article>
          </div>
          {% endif %} {% endfor %}
        </div>

        <br /><br />
        <footer class="center">
          <a class="btn" href="#"
            >Quis vehicula nulla <i class="fas fa-angle-right"></i
          ></a>
        </footer>

        <div class="clear"></div>
      </main>
    </div>

    <div class="wrapper coloured">
      <article class="hoc cta clear">
        <h6 class="three_quarter first">
          Helloo, I share all about my lifestyle, knowledge, fashion and travel adventures on this page. Let’s be on board together!
        </h6>
        <footer class="one_quarter">
          <a class="btn" href="#"
            >Subscribe on Youtube <i class="fab fa-youtube"></i
          ></a>
        </footer>
      </article>
    </div>

    <div
      class="wrapper bgded overlay"
      style="background-image: url('images/demo/backgrounds/01.png')"
    >
      <section id="introblocks" class="hoc container clear">
        <div class="sectiontitle">
          <h6 class="heading">Reviews</h6>
          <p>Some reviews text here</p>
        </div>

        <div class="row">
          {% for post in site.posts limit:4 %} {% if post.categories contains
          "review" %}
          <div class="col">
            <article>
              <a href="{{ post.url }}"><i class="fas fa-lemon"></i></a>
              <h6 class="heading">{{ post.title }}</h6>
              <div class="blog_max_line_to_show">
                {{ post.content }} [&hellip;]
              </div>
              <footer>
                <a class="btn" href="{{ post.url }}"
                  >Read More <i class="fas fa-angle-right"></i
                ></a>
              </footer>
            </article>
          </div>
          {% endif %} {% endfor %}
        </div>
      </section>
    </div>

    <div class="wrapper row3">
      <section class="hoc container clear">
        <div class="sectiontitle">
          <h6 class="heading">Blog posts</h6>
          <p>Some text here</p>
        </div>
        <div id="latest" class="group">
          {% assign firstpost = site.posts.first %}
          <article class="one_half first">
            <a class="imgover" href="{{firstpost.url}}"
              ><img style="height: 300px" src="{{firstpost.hero}}" alt=""
            /></a>
            <div class="excerpt">
              <h6 class="heading">{{ firstpost.title }}</h6>
              <div class="blog_max_line_to_show">
                {{ firstpost.content }} &hellip;
              </div>
              <div class="clear">
                <footer class="fl_right">
                  <a href="{{firstpost.url}}"
                    >Read More <i class="fas fa-angle-right"></i
                  ></a>
                </footer>
                <ul class="nospace meta fl_left">
                  <li>
                    <i class="fas fa-user"></i>
                    <a href="{{firstpost.url}}"
                      >{{ firstpost.date | date: "%b %d, %Y" }}</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </article>

          {% assign lastpost = site.posts.last %}
          <article class="one_half">
            <a class="imgover" href="{{lastpost.url}}"
              ><img style="height: 300px" src="{{lastpost.hero}}" alt=""
            /></a>
            <div class="excerpt">
              <h6 class="heading">{{ lastpost.title }}</h6>
              <div class="blog_max_line_to_show">
                {{ lastpost.content }} &hellip;
              </div>
              <div class="clear">
                <footer class="fl_right">
                  <a href="{{lastpost.url}}"
                    >Read More <i class="fas fa-angle-right"></i
                  ></a>
                </footer>
                <ul class="nospace meta fl_left">
                  <li>
                    <i class="fas fa-user"></i>
                    <a href="{{lastpost.url}}"
                      >{{ lastpost.date | date: "%b %d, %Y" }}</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </article>
        </div>
        <footer class="center">
          <a class="btn" href="#"
            >View More Posts <i class="fas fa-angle-right"></i
          ></a>
        </footer>
      </section>
    </div>

    {% include footer.html %} {% include script.html %}
  </body>
</html>
